@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
html,body{
    width: 100%;
    height: 100%
}
* {
    margin: 0;
 }
 body {
     font-family: Orbitron, sans-serif;
     background-image: url(../pics/AP-1WF5Q9CW11W11_news.jpg);
     background-size: cover;
     background-attachment: fixed;
 }
 #wrapper{
     background-color: rgba(255,255,255,0.5);
     height: 100%;
 }

 #wrapper>*{
     margin: 0 0 1rem 0;
 }
 #myheader {
     display: flex;
 }
 #myheader>div {
     text-align: center;
     font-size: 80px;
     text-shadow: 2px 2px 5px black;
     
 }
 

#logo{
    width: 15%;
    margin-top: 15px;
}
#name{
    width: 85%;

}
#name h1{
   text-shadow: 10px 10px 20px black;
    text-align: center;
    font-size: 100px;
    animation: neon 3s infinite;
}
/*@keyframes neon {
    from {
        text-shadow: 0 0 1rem turquoise;

    }
    20% {
        text-shadow: 0 0 1rem teal;
        transform: rotate(5deg);
    }
    40% {
        text-shadow: 0 0 1rem tomato;
    }
    60% {
        text-shadow: 0 0 1rem yellow;
        transform: rotate(0);
    }
    80% {
        text-shadow: 0 0 1rem turquoise;
    }
    to {
        text-shadow: 0 0 1rem yellowgreen;
        transform: rotate(-5deg);
    }
   }*/

 #logo img {
     width: 7rem;
 }
#menu .items{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 100px;
}

#menu .items a {
    text-decoration: none;
    box-shadow: 5px 5px 7.5px;
    text-shadow: 5px 5px 7.5px;
    border-radius: 2em;
color: black;
background-color: cornsilk;
padding: .5rem;
transition: all .5s ease-in-out;
}

#menu .items a:hover{
border: cornsilk .25rem;
color: cornsilk;
background-color: gray;
}
#emps .emp .menber .man {
    border: solid blue 1rem;
    border-radius: 50%;
}
#emps .emp .menber .women {
    border: solid blue 1rem;
    border-radius: 50%;
}
#emps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: white;
}
figcaption {
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.emp {
    text-align: center;
    width: 200px;
    height: 200px;
}
.menber {
    border-style: ridge;
    border-width:  .75rem;
    border-radius:  50%;
    width:  150px;
    transition: all .5s ease-in-out;
}
.menber:hover {
    border-color: gray;
    height: calc(150px*1.1);
    width: calc(150px*1.1);
}
.menber:hover {
    transform: scale(1.1) rotate(15deg);
}
#media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(128, 128,128, 0.5);
    text-align: center;
    padding: 5rem 0rem;
    margin-top: 20rem;
}
.interview p{
    color:black;
    text-align: justify;
}
#media h2 {
    color: cornsilk;
    padding-bottom: 5rem;
}
.interview {
    width: 30rem;
    align-content: center;
}
/* footer */
#bottom {
    background-color: black;
    color: white;
}
#bottom ul {
    list-style-type: none;
    padding: 0;
}
#bottom .level1 {
    display: flex;
    justify-content: center;
}

#bottom .level1>li {
    margin: 1rem 0;
    padding: 0 2rem;
    border-left: dotted white .25rem ;
}
#bottom .level1>li:first-child {
    border-left: none;
}
#bottom h2 {
    font-variant: small-caps;
}
#bottom a {
    color: white;
    text-decoration: none;
}

/*FORM*/

form div {
    margin: .5rem 0;
}

form div>*:first-child {
display: inline-block;
width: 25%;
font-weight: bold;
text-align: right;
}

